{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Партии</title>
</head>

<body>
    {%block content%}

    <h1>Все партии</h1>

    <table class="table">
        <tr>
            <td>ID партии</td>
            <td>Название товара</td>

        </tr>
        {% for consignments in all_consignments %}
        <tr>
            <td>{{consignments.pk}}</td>
            <!--pk (primary key) аналог id-->
            <td>{{consignments.product}}</td>
        </tr>
        {% endfor %}
    </table>


    <h1>Добавление партии</h1>
    <div id="">
        <form action='' method='POST'>
            {% csrf_token %}
            <!--{{form_in_hosp.as_p}}-->
            {% for field in add_form %}
            <p id='none'>
                <label for="">{{field.label}}</label>
                <span>{{field}}</span>
            </p>
            {% endfor %}
            <input type='submit' class='' value='Добавить' id='button_for_add'>
        </form>
    </div>

    {%endblock%}
</body>

</html>